<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>Booking Form</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <link type="text/css" rel="stylesheet" href="/static/css/booking_form.css" />

    <script>
        function updateClassOptions() {
            const flightRadio = document.getElementById('flight');
            const trainRadio = document.getElementById('train');
            const cabRadio = document.getElementById('cab');
            const classSelect = document.getElementById('classSelect');

            classSelect.innerHTML = ''; 

            if (flightRadio.checked) {
                classSelect.innerHTML += `
                    <option>Economy</option>
                    <option>Business</option>
                    <option>First Class</option>
                `;
            }

            if (trainRadio.checked) {
                classSelect.innerHTML += `
                    <option>Sleeper</option>
                    <option>AC</option>
                `;
            }

            if (cabRadio.checked) {
                classSelect.innerHTML += `
                    <option>Sedan</option>
                    <option>SUV</option>
                `;
            }

            if (!flightRadio.checked && !trainRadio.checked && !cabRadio.checked){
                classSelect.innerHTML += `<option>Please select a travel type</option>`;
            }

        }
    </script>
</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
				<button type="button" class="back-btn" onclick="window.history.back()">
                    <i class="fas fa-arrow-left"></i> Back
                </button>
                <div class="row">
                    <div class="booking-form">
                        <form action="/book" method="post">
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="flight">
                                        <input type="radio" id="flight" name="travel-type" value="flight" onclick="updateClassOptions()">
                                        <span></span>Flight
                                    </label>
                                    <label for="train">
                                        <input type="radio" id="train" name="travel-type" value="train" onclick="updateClassOptions()">
                                        <span></span>Train
                                    </label>
                                    <label for="cab">
                                        <input type="radio" id="cab" name="travel-type" value="cab" onclick="updateClassOptions()">
                                        <span></span>Cab
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">From</span>
                                        <input class="form-control" type="text" placeholder="City or station" name="from">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">To</span>
                                        <input class="form-control" type="text" placeholder="City or station" name="to">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Departure Date</span>
                                        <input class="form-control" type="date" required name="departure">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Return Date (Optional)</span>
                                        <input class="form-control" type="date" name="return">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Adults (18+)</span>
                                        <select class="form-control" name="adults">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Children (0-17)</span>
                                        <select class="form-control" name="children">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Class/Type</span>
                                        <select class="form-control" id="classSelect" name="class_type">
                                            <option>Please select a travel type</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-btn">
                                        <button class="submit-btn">Book</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        updateClassOptions();
    </script>
</body>

</html>