
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href="/static/css/home.css">
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>H</span>orizon T<span>r</span>avels</h1>
        </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
          
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            <LI><a href="/signin" data-after="Login">-Login-</a></LI>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>Welcome To <span></span></h1>
        <h1>Horizon Travels <span></span></h1>
        <a href="/signup" type="button" class="cta">Sign-up</a> 
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Serv<span>i</span>ces</h1>
        <p>Horizon Travels offers a variety of travel booking services for customers and businesses. Whether you need air, train, or coach tickets, Horizon Travels has a solution to meet your travel needs and ensure a smooth journey.</p>      </div>
      <div class="service-bottom">
        <div class="service-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/airplane-take-off.png" /></div>
            <h2>Flight Bookings</h2>
            <p>Book domestic and international flights with ease. Choose from multiple airlines and get the best deals on your air travel.</p>
        </div>
        <div class="service-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/bus.png" /></div>
            <h2>Coach Travel</h2>
            <p>Travel affordably with our coach booking service. Enjoy comfortable seating and flexible schedules for a smooth journey.</p>
        </div>
        <div class="service-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/train.png" /></div>
            <h2>Train Reservations</h2>
            <p>Reserve train tickets hassle-free. Find the best routes and fares for your travel across the UK with our easy-to-use booking system.</p>
        </div>
        <div class="service-item">
            <div class="icon"><img src="https://img.icons8.com/?size=100&id=114253&format=png&color=000000" /></div>
            <h2>24/7 Customer Support</h2>
            <p>Need help? Our dedicated support team is available 24/7 to assist with bookings, cancellations, and travel queries.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->
 
 <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="/static//images//anish.png" alt="img">
          <div><h2>Horizon Travels CEO - Mr Anish </h2></div>
        </div>
      </div>

      <div class="col-right">
        <h1 class="section-title">About <span>Us</span></h1>
        <h2>Horizon Travel Solutions</h2>
        <p>Horizon Travels System provides a seamless and user-friendly platform for booking air, train, and coach tickets. Whether you need a one-way trip or a flexible travel plan, our system offers convenient options for hassle-free booking. Stay updated on routes, schedules, and exclusive offers through our official channels. For assistance, contact our support center and enjoy a smooth travel experience with Horizon Travels System.</p>
        <a href="#footer" class="cta">Follow Us</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+44 20 7123 4567</h2>
            <h2>+44 12 7123 3545</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>bookmybus@gmail.com</h2>
            <h2>anishbashyal@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>4th main-road, Bristol, United Kingdom</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>H</span>orizon T<span>r</span>avels</h1>
      </div>
      <h2>Your Complete Travel Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/?size=100&id=juMonkXG5u3u&format=png&color=000000" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright © 2025 HorizonTravels . All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="/static/js/home.js"></script>
</body>

</html>
